<div class="sliders-container">
  <h3>Let's set the mood</h3>
  <p>Based on the song you searched, we've made a vibe 😎 Adjust the levels based on your mood or simply continue.</p>

  <div class="sliders-mini-container">

    <div class="sliders">
      <%= form_with url: "/enhanced_search", method: "get" do |f| %>
        <%= f.hidden_field :spotify_id, value: @track.id %>
        <%= f.label :acousticness, "Acousticness", class: "form-label faders-label" %>
        <%= f.range_field :acousticness, class: "form-range faders-range", value: @track.audio_features.acousticness, in:0..1, step:0.0001 %>
        <%= f.label :danceability, "Danceability", class: "form-label faders-label" %>
        <%= f.range_field :danceability, class: "form-range faders-range", value: @track.audio_features.danceability, in:0..1, step:0.0001 %>
        <%= f.label :energy, "Energy", class: "form-label faders-label" %>
        <%= f.range_field :energy, class: "form-range faders-range", value: @track.audio_features.energy, in:0..1, step:0.0001 %>
        <%= f.label :instrumentalness, "Instrumentalness", class: "form-label faders-label" %>
        <%= f.range_field :instrumentalness, class: "form-range faders-range", value: @track.audio_features.instrumentalness, in:0..1, step:0.0001 %>
        <%= f.label :liveness, "Liveness", class: "form-label faders-label" %>
        <%= f.range_field :liveness, class: "form-range faders-range", value: @track.audio_features.liveness, in:0..1, step:0.0001 %>
        <%= f.label :loudness, "Loudness", class: "form-label faders-label" %>
        <%= f.range_field :loudness, class: "form-range faders-range", value: @track.audio_features.loudness, in:-60..0, step:0.006 %>
        <%= f.label :speechiness, "Speechiness", class: "form-label faders-label" %>
        <%= f.range_field :speechiness, class: "form-range faders-range", value: @track.audio_features.speechiness, in:0..1, step:0.0001 %>
        <%= f.label :valence, "Valence", class: "form-label faders-label" %>
        <%= f.range_field :valence, class: "form-range faders-range", value: @track.audio_features.valence, in:0..1, step:0.0001 %>
        <%= f.label :popularity, "Popularity", class: "form-label faders-label" %>
        <%= f.range_field :popularity, class: "form-range faders-range", value: @track.popularity, in:0..100, step:0.01 %>
        <%= f.submit "Submit", class: "pink-btn"%>
      <% end %>
    </div>
  </div>
</div>
