<div class="container">
  <div class="row justify-content-center">
    <%= form_with url: search_path, method: :get, class: "d-flex search-form" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type a keyword"
        %>
      <%= submit_tag "Search", name: "", class: "pink-btn" %>
    <% end %>

    <% if @tracks.present? %>
      <ul>
      <% @tracks.each do |track| %>
        <li class="list-group-item">
        <div class="card track-card border-0">
          <div class="card-body">
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/<%= track.id %>?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            <div class="pink-btn-link">
            <%= link_to "That's the vibe!", { controller: 'tracks', query: track.id }, class: 'pink-btn-link' %>
            </div>
          </div>
        </div>
        </li>
      <% end %>
      </ul>
    <% end %>
  </div>
</div>
