<%= simple_form_for (@playlist) do |f| %>
  <p><%= f.input :name, placeholder: "Your playlist name", label: false, class: "form-inline" %></p>
  <p><%= f.input :playlist_image, as: :file, label: false, class: "form-inline" %></p>
  <p><%= f.input :description, placeholder: "Description", label: false, class: "form-inline" %></p>
  <p class="text-center"><%= f.submit "SUBMIT", class: "pink-btn" %></p>
<% end %>
<p class="text-center"><%= link_to "Back to your playlists", playlists_path, class: "text-60"%></p>
