<div class="container">

  <div class="playlist_header">

    <div class="playlist_image_container">
      <% if @playlist.photo.present? %>
        <%= cl_image_tag @playlist.photo.key, class: "playlist_image", alt: "Playlist Image" %>
      <% else %>
        <p>No playlist image available</p>
      <% end %>
    </div>

    <div class="text-btn-div">
      <div class="page_title">
        <h1><%= @playlist.name %></h1>
        <% if @playlist.description? %>
          <p><%= @playlist.description %></p>
        <% else %>
          <p><%= @playlist.name %> was created by <%= current_user.email %> on <%= @playlist.created_at.strftime('%B of %Y') %>.</p>
        <% end %>
      </div>

      <div class="playlist_btns">
        <i class="fa-solid fa-pen-to-square text-white"></i><%= link_to 'Edit', edit_playlist_path, class:"text-white text-btn " %>
        <i class="fa-solid fa-trash text-white"></i><%= link_to "Delete", playlist_path(@playlist), data: {turbo_method: :delete, turbo_confirm: "Do you want to delete your playlist?"}, class:"text-white text-btn "%>
      </div>
    </div>
  </div>



  <div class="pink-btn-add-to-spotify">
      <%= link_to 'Add playlist to', spotify_playlist_path, data: {turbo_method: :post}, class:"text-white" %> <%= image_tag ("spotify-48.png"), class: "spotify-icon" %>
    </div>

  <div class="playlist-body">
    <ul>
      <% @playlist.tracks.each do |track| %>
        <li class="list-group-item">
          <div class="card track-card border-0">
            <div class="card-body d-flex">
              <div class="p-2 flex-grow-1">
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/<%= track.spotify_id %>?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
              </div>
                <div class="p-2 justify-content-center">
                <% playlist_track = PlaylistTrack.find_by(track:track, playlist:@playlist) %>
                  <%= link_to playlist_track_path(playlist_track), data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to remove this track from the playlist?' }, class: 'icon-btn' do %>
                    <i class="fa-solid fa-circle-xmark"></i>
                  <% end %>
                </div>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

</div>
